.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__item {
    display: block;
  }
  &__link {
    display: flex;
    align-items:center;
    text-decoration: none;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0px 8px;
    border: 1px solid rgba(92, 92, 92, 0.137);
    text-shadow: 1px 1px 3px rgba(138, 138, 138, 0.425);
    svg{
      margin-right: 12px;
      color: #fff;
    }
  }
  &__item-icon {
    width: 10px;
    margin-right: 8px;
  }
  &__empty{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    span{
        vertical-align: middle;
        font-weight: 300;
    }
  }
}
.main-nav--dark{

}
.main-nav--light{

}
.main-nav--default{

}
